@import "~govuk-frontend/all";


// Example boxes
// ==========================================================================

.example {
  @include govuk-clearfix;
  position: relative;
  overflow: hidden;
  border: 1px solid map-get($govuk-colours, 'grey-2');
  margin-top: $govuk-gutter-half;
  margin-bottom: $govuk-gutter-half;

  padding-top: $govuk-gutter;
  padding-right: $govuk-gutter-half;
  padding-bottom: $govuk-gutter-half;
  padding-left: $govuk-gutter-half;

  @include govuk-media-query($from: tablet) {
    padding-top: $govuk-gutter*1.5;
    padding-right: $govuk-gutter;
    padding-bottom: $govuk-gutter;
    padding-left: $govuk-gutter;
  }

  &:before {
    content: "EXAMPLE";

    position: absolute;
    top: 0;
    left: 0;

    padding: em(4) em(15) em(4) em(15);

    @include govuk-font(14);
    background: map-get($govuk-colours, 'grey-2');
    color: white;
  }

  // Blue text for heading sizes
  .highlight {
    font-style: normal;
    color: #0076c0;
  }

  // Lists (reset this to elements default)
  .govuk-list govuk-list--bullet {
    margin-bottom: 20px;
  }

  // Fix grid layout within example boxes for IE7 and below
  // where box-sizing isn't supported: http://caniuse.com/#search=box-sizing
  @mixin example-box-column($width) {
    width: (($site-width - $govuk-gutter) * $width) - $govuk-gutter;
  }

  .choice-description-sample {
    .multiple-choice {
      label {
        font-weight: bold;
      }
      .choice-description {
        font-weight: normal;
        display: block;
      }
    }
  }
}
