{% extends "look-and-feel/layouts/two_thirds.html" %}
{% from "look-and-feel/components/header.njk" import header %}
{% from "look-and-feel/components/fields.njk" import selectionButtons, selectionButton, textbox %}

{% block head -%}
  <link href="{{ asset_path }}main.css" media="screen" rel="stylesheet" />
  <script src="{{ asset_path }}selection-buttons.js" type="text/javascript">
  </script>
{% endblock %}

{% block two_thirds -%}
  {{ header("Selection Buttons", "Components") }}

  {% set field = { id: 'country', name: 'country' } %}

  <p>
    To use this field you need to import it in to your template.
  </p>
  <div class="panel panel-border-wide">
    {{ header('Code', size='small') }}
    <pre><code>{% raw %}{% from "look-and-feel/components/fields.njk" import selectionButtons, selectionButton %}
{% endraw %}</code></pre>
  </div>

  {{ header("Multiple radio options", size="medium") }}

  <div class="example">
    {{ selectionButtons(field, "Where do you live?",
      hint = 'Some advice about the question',
      hideQuestion = false,
      options = [
        { label: "Northern Ireland", value: "northern-ireland" },
        { label: "Scotland" },
        { label: "England" },
        { label: "Wales" }
      ]
    ) }}
  </div>

  <div class="panel panel-border-wide">
    {{ header('Code', size='small') }}
    <pre><code>{% raw %}{{ selectionButtons(field, "Where do you live?",
  hint = 'Some advice about the question',
  hideQuestion = false,
  options = [
    { label: "Northern Ireland", value: "northern-ireland" },
    { label: "Scotland" },
    { label: "England" },
    { label: "Wales" }
  ]
) }}{% endraw %}</code></pre>
  </div>

  {{ header("Inline radio options", size="medium") }}

  <div class="example">
    {{ selectionButtons(field, "Do you have your marriage certificate?",
      hideQuestion = false,
      inline = true,
      options = [
        { label: "Yes" },
        { label: "No" }
      ]
    ) }}
  </div>

  <div class="panel panel-border-wide">
    {{ header('Code', size='small') }}
    <pre><code>{% raw %}{{ selectionButtons(field, "Do you have your marriage certificate?",
  hideQuestion = false,
  inline = true,
  options = [
    { label: "Yes" },
    { label: "No" }
  ]
) }}{% endraw %}</code></pre>
  </div>

  {{ header("Disable options", size="medium") }}

  <div class="example">
    {{ selectionButtons(field, "A question",
      hideQuestion = true,
      options = [
        { label: "Isle of Man or the Channel Islands", disabled: true }
      ]
    ) }}
  </div>

  <div class="panel panel-border-wide">
    {{ header('Code', size='small') }}
    <pre><code>{% raw %}{{ selectionButtons(field, "A question",
  hideQuestion = true,
  options = [
    { label: "Isle of Man or the Channel Islands", disabled: true }
  ]
) }}{% endraw %}</code></pre>
  </div>

  {{ header("Checkboxes", size="medium") }}

  <div class="example">
    {{ selectionButtons(field, "Which types of waste do you transport regularly?",
      hideQuestion = false,
      hint = 'Select all that apply',
      type = 'checkbox',
      options = [
        { label: "Waste from animal carcasses", value: 'animal' },
        { label: "Waste from mines or quarries", value: 'mines' },
        { label: "Farm or agricultural waste", value: 'agriculture' }
      ]
    ) }}
  </div>

  <div class="panel panel-border-wide">
    {{ header('Code', size='small') }}
    <pre><code>{% raw %}{{ selectionButtons(field, "A question",
  hideQuestion = true,
  options = [
    { label: "Isle of Man or the Channel Islands", disabled: true }
  ]
) }}{% endraw %}</code></pre>
  </div>


  {{ header("Conditionally revealing content", size="medium") }}

  <div class="example">

    {% set field = { id: 'hwf', name: 'hwf' } %}
    {{ selectionButtons(field, "Do have a Help with Fees reference number?",
      hideQuestion = false,
      inline = true,
      options = [
        { label: "Yes", target: "hwf-ref-number" },
        { label: "No" }
      ]
    ) }}
    <div class="panel panel-border-wide js-hidden" id="hwf-ref-number">
      {{ textbox(field, "Enter your reference number") }}
    </div>
  </div>

  <div class="panel panel-border-wide">
    {{ header('Code', size='small') }}
    <pre><code>{% raw %}{{ selectionButtons(field, "Do have a Help with Fees reference number?",
  hideQuestion = false,
  inline = true,
  options = [
    { label: "Yes", target: "hwf-ref-number" },
    { label: "No" }
  ]
) }}
&lt;div class="panel panel-border-wide js-hidden" id="hwf-ref-number"&gt;
  {{ textbox(field, "Enter your reference number") }}
&lt;/div&gt;{% endraw %}</code></pre>
  </div>


  {{ header("Nesting revealing content", size="medium") }}

  <div class="example">
    {% set field = { id: 'contact', name: 'contact' } %}
    {% set detailField = { id: 'contactDetail', name: 'contactDetail' } %}

    {% call selectionButtons(field, "How do you want to be contacted?", hideQuestion = false) %}
      {{ selectionButton(field, { label: "Email", target: "email-address" }) }}
      <div class="panel panel-border-wide js-hidden" id="email-address">
        {{ textbox(detailField, "Email address") }}
      </div>

      {{ selectionButton(field, { label: "Phone", target: "phone-number" }) }}
      <div class="panel panel-border-wide js-hidden" id="phone-number">
        {{ textbox(detailField, "Phone number") }}
      </div>

      {{ selectionButton(field, { label: "Text message", target: "mobile-number" }) }}
      <div class="panel panel-border-wide js-hidden" id="mobile-number">
        {{ textbox(detailField, "Mobile phone number") }}
      </div>
    {% endcall %}
  </div>

  <div class="panel panel-border-wide">
    {{ header('Code', size='small') }}
    <pre><code>{% raw %}{% call selectionButtons(field,
                         "How do you want to be contacted?",
                         hideQuestion = false) %}
  {{ selectionButton(field, { label: "Email", target: "email-address" }) }}
  &lt;div class="panel panel-border-wide js-hidden" id="email-address"&gt;
    {{ textbox(detailField, "Email address") }}
  &lt;/div&gt;

  {{ selectionButton(field, { label: "Phone", target: "phone-number" }) }}
  &lt;div class="panel panel-border-wide js-hidden" id="phone-number"&gt;
    {{ textbox(detailField, "Phone number") }}
  &lt;/div&gt;

  {{ selectionButton(field, { label: "Text message", target: "mobile-number" }) }}
  &lt;div class="panel panel-border-wide js-hidden" id="mobile-number"&gt;
    {{ textbox(detailField, "Mobile phone number") }}
  &lt;/div&gt;
{% endcall %}{% endraw %}</code></pre>
  </div>



{%- endblock %}

