{% extends "look-and-feel/layouts/two_thirds.html" %}
{% from "look-and-feel/components/header.njk" import header %}
{% from "look-and-feel/components/phase_banner.njk" import phaseBanner %}
{% from "look-and-feel/components/errors.njk" import errorSummary %}
{% from "look-and-feel/components/i18n.njk" import languageSwitch %}

{% block page_title %}{{ title }}{% endblock %}

{% block breadcrumbs %}
{{ phaseBanner(phase, feedbackLink) }}
<a class="link-back" href="#" onclick="history.go(-1); return false;">Back</a>
{{ languageSwitch(i18n.currentLanguage, i18n.availableLanguages) }}
{% endblock %}

{% block two_thirds %}

{{ errorSummary(fields) }}

{{ header(title, size='large', fieldsValidated=fields.validated, fieldsValid=fields.valid) }}

<form enctype="{{ enc_type | default('application/x-www-form-urlencoded') }}" action="{{ postUrl | default(path if path else url) }}" method="post" class="form">

  {% block fields -%}
  {%- endblock %}

  {% if csrf %}
    <input type="hidden" name="_csrf" value="{{csurfCsrfToken}}">
  {% endif %}

  <input class="button" type="submit" value="Continue">
</form>

{% block after_form -%}
{%- endblock %}

{% endblock %}
