{% extends "template.njk" %}
{% set htmlClasses = '' %}
{% set bodyClasses = '' %}
{% set mainClasses = '' %}
{% set assetPath = '/assets' %}


{% block content -%}

<main id="content" role="main" tabindex="-1">
  {% block breadcrumbs %}{% endblock %}
  {% block full_width %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% block two_thirds -%}{%- endblock %}
    </div>
    <div class="govuk-grid-column-one-third">
      {% block one_third -%}{%- endblock %}
    </div>
  </div>
  {% endblock %}
{%- endblock %}
