{% macro errorSummary(fields, title='There was a problem') -%}
  {%- if fields.validated and not fields.valid -%}
    <div class="error-summary" role="group" aria-labelledby="error-summary-heading" tabindex="-1">
      <h1 class="heading-medium error-summary-heading" id="error-summary-heading">
        {{ title }}
      </h1>
      <ul class="error-summary-list">
        {%- for error in fields.errors -%}
          <li><a href="#{{error.id}}">{{error.message}}</a></li>
        {%- endfor -%}
      </ul>
    </div>
  {%- endif -%}
{%- endmacro %}
