{% from "error-summary/macro.njk" import govukErrorSummary %}

{% macro errorSummary(fields, title='There was a problem') -%}
  {%- if fields.validated and not fields.valid -%}
    {% set errors = [] %}
    {% for error in fields.errors %}
        {% set href = '#{{ error.id }}' %}
        {% set errors = (errors.push({text: error.message, href: href}), navigationItems) %}
    {% endfor %}
    {{ govukErrorSummary({
      titleText: title,
      errorList: errors
    }) }}
  {%- endif -%}
{%- endmacro %}
