{#
  textbox
    field - (required) A field object containing name, id and value
    label - (required) The label to apply to the field
    hint  - (default = '') Extra hint text to place under the label

  Renders a simple text box input field.
#}
{% macro textbox(field, label, hint=false) %}
<div class="form-group {{ errorClass(field) }}">

  <label class="form-label"
         for="{{ field.id }}">
    {{ label }}
    {%- if hint %}
    <span class="form-hint">
      {{ hint }}
    </span>
    {%- endif %}
  </label>
  {{ errorsFor(field) }}
  <input class="form-control"
         id="{{ field.id }}"
         name="{{ field.id }}"
         type="text"
         {% if field.value %}value="{{ field.value }}"{% endif %}>
</div>
{% endmacro %}

{#
  formSection

  Groups fields in to sections spaced with padding
#}
{% macro formSection() %}
<div class="form-section">
  {{ caller() }}
</div>
{% endmacro %}

{#
  selectionButtons
    field          - (required) A field object containing name, id and value
    label          - (required) The label to apply to the field
    hint           - (default = '') Extra hint text to place under the label
    hideQuestion   - (default = true) Hides the question in the legend (for when you have a heading on the page that is the same question)
    inline         - (default = false) Renders the options inline
    options        - (default = []) Options used to populate the possible answers

    options.label  - (required) The label text to display for this option
    options.value  - (default = label.lowercase()) The value to be sent on post for this option
    options.target - (default = '') Id of the panel to expand if selected

  Renders multiple option radio buttons
#}
{% macro selectionButtons(field,
                          question,
                          options=[],
                          hint=false,
                          hideQuestion=true,
                          inline=false,
                          type='radio') %}
  <div class="form-group {{ errorClass(field) }}">

    <fieldset{% if inline %} class="inline"{% endif %} id="{{ field.id }}">

      <legend>
        {% if hideQuestion %}
          <h1 class="visually-hidden heading-medium">{{ question }}</h1>
        {% else %}
          <h1 class="heading-medium">{{ question }}</h1>
        {% endif %}
        {% if hint -%}
        <span class="body-text form-hint" id="{{ field.id }}-hint">
            {{ hint }}
          </span>
        {%- endif %}
        {{ errorsFor(field) }}
      </legend>

      {% for option in options -%}
        {% set option_value = option.value or option.label|lower %}
        {% set option_disabled = option.disabled or false %}
        <div class="multiple-choice"
          {% if option.target -%}
          data-target="{{ option.target }}"
          {%- endif %}>
          <input id="{{ field.id }}-{{ option_value }}"
                 type="{{ type }}"
                 name="{{ field.id }}"
                 {% if isArray(field.value) and option_value in field.value %}
                 checked="checked"
                 {% endif %}
                 {% if field.value == option_value %}
                 checked="checked"
                 {% endif %}
                 {% if option_disabled %}
                 disabled
                 {% endif %}
                 value="{{ option_value }}">
          <label for="{{ field.id }}-{{ option_value }}">
            {{ option.label }}
          </label>
        </div>
      {%- endfor %}

    </fieldset>
  </div>
{% endmacro %}

{% macro select(field,
                label,
                hint='',
                hideLabel=false,
                options=[]) %}

<div class="form-group {{ errorClass(field) }}">

  <label class="form-label {{ "visually-hidden" if hideLabel }}"
         for="{{ field.id }}">
    {{ label }}
    {%- if hint %}
    <span class="form-hint">
      {{ hint }}
    </span>
    {%- endif %}
  </label>

  {{ errorsFor(field) }}

  <select id="{{ field.id }}"
          name="{{ field.id }}"
          class="form-control">
    {# Default option so no option is preselected #}
    <option disabled selected value style="display: none"></option>

    {% for option in options -%}
      {% set option_value = option.value or option.label|lower %}
      {% set option_disabled = option.disabled or false %}

      <option
          {% if field.value == option_value %}
          selected
          {% endif %}
          {% if option_disabled %}
          disabled
          {% endif %}
          {% if option_value %}
          value="{{ option_value }}"
          {% endif %}>{{ option.label }}</option>
    {%- endfor %}

  </select>

</div>
{% endmacro %}


{% macro errorsFor(field) -%}
  {% if field.errors %}
  {% for error in field.errors -%}
    <span class="error-message">
      {{ error | safe}}
    </span>
  {%- endfor %}
  {% endif %}
{%- endmacro %}

{% macro errorClass(field) -%}
  {% if field.errors and field.errors|length > 0 %}
    form-group-error
  {% endif %}
{%- endmacro %}
